# Dependencies
node_modules/
package-lock.json

# Large source files & book binaries
Books/
*.pdf
*.epub
*.zip

# Temporary, scratch & OS files
.DS_Store
Thumbs.db
desktop.ini
*.log
scratch/
scratch_*
*.tmp
docs/distillations/**/extracted/
caption_*
raw_caption_*
youtube_transcript_*

# Visual Studio Code & IDE
.vscode/
.idea/
src/manifestation_pipeline/unpacked_epubs/
src/manifestation_pipeline/unpacked_batch_2/
src/manifestation_pipeline/unpacked_batch_3/


