@charset "UTF-8";
.class_s1Y-0 {margin-top: 0.7104em}
.class_s1Y-1 {width: 100%}
.class_s2T {margin-left: 9.8%; padding-left: 0.651%}
.class_s4S {margin-bottom: 0; margin-top: 6.07968em}
.class_s8 {list-style-type: decimal}
.class_s11 {margin-bottom: 0; margin-top: 4.38163em}
.class_s11A {margin-bottom: 0; margin-top: 7.77773em}
.class_s11R {font-size: 1.1em; margin-bottom: 0; margin-top: 0.645818em}
.class_s12G-0 {margin-top: 1.2em; page-break-before: avoid; text-align: center}
.class_s12G-1 {max-width: 100%; width: 100%}
.class_s65 {margin-bottom: 0.7104em; margin-top: 0.7104em}
.class_s67 {margin-bottom: 0; margin-top: 2.41055em}
.class_s82 {margin-bottom: 0; margin-top: 2.6836em}
.class_s122 {margin-bottom: 0; margin-top: 16.2679em}
.class_s124 {margin-bottom: 3.85908em; margin-top: 0.7104em}
.class_sB6 {margin-bottom: 0; margin-top: 7.77773em}
.class_sB8 {margin-bottom: 0; margin-top: 2.6836em}
.class_sEM {margin-bottom: 0.7104em; margin-top: 0.7104em}
.class_sEP {margin-bottom: 0; margin-top: 10.1883em}
.class_sET {margin-bottom: 0; margin-top: 1.69805em}
.class_sF-0 {margin-bottom: 0; margin-top: 0.7104em}
.class_sF-1 {list-style-type: decimal; margin-top: 0.7104em}
.class_sGJ {margin-bottom: 4.38163em; margin-top: 0.7104em}
.class_sJ {margin-bottom: 0; margin-top: 6.07968em}
.class_sJE {margin-bottom: 0; margin-top: 4.38163em}
.class_sM {margin-bottom: 0; margin-top: 0.7104em}
.class_sPW {margin-bottom: 0; margin-top: 12.8719em}
.class_sS {margin-bottom: 0; margin-top: 9.47576em}
.class_sUT {margin-bottom: 3.89424em; margin-top: 0.7104em}
.class_sW5 {margin-bottom: 0.7104em; margin-top: 4.38163em}